{% extends "base.html" %}
{% block css %}
    <style>
        .header{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -300%);
            color:blue;
        }
        .btn{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(30%, -50%);
        }
        #formBtn{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-100%, -50%);

        }
        

    </style>
    
{% endblock %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-danger" >
        <a class="close" href="" data-dismiss="alert">x</a>
        {{ message }}
    </div>
{% endfor %}
    <h2 class="header">Tap the Start</h2>
    <div class="buttonWrapper">
        <a class="btn btn-danger" href="{% url 'renderNamePage' %}" id="voicebtn">Tap to Record</a>
        <a class="btn btn-danger" href="{% url 'preferenceForm' %}" id="formBtn">Type your Details</a>
    </div>
    
{% endblock %}